/*

h1 {
    display: inline;
    font-size: 28px;
}

header {
    background-color: aqua;
    text-align: center;
}

body{
    margin: 0;
}

.sun{
    display: block;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    width: auto;
    margin: auto;
    text-align: center;
}

ul{
    margin: 0;
    padding-left: 0;
}

nav li {
    display: inline-block;
    padding: 2px;
    border: 1px solid black;
    width: 25%;
    height: 100%;
}

.hourly{
    display: none;
}

.div-header {
    background-color: black;
    color: white;
    padding: 2px;
    text-align: center;
}

.table-header{
    border: 1px solid black;
}

.table-body{
    text-align: center;
}

#wireframes{
    display: none;
}

@media screen and (min-width: 550px){
    .table-header{
        width: 400px;
    }
    
    main p{
        display: inline-block;
    }
    
    main{
        width: auto;
        margin: auto;
        text-align: center;
    }
    
    #weather-info{
        margin-top: 5px;
        float: right;
    }
    
    .sun{
        float: left;
        height: 150px;
    }
    
    footer{
        margin-top: 30%;
    }
    
}

@media screen and (min-width: 700px){
    .hourly{
        text-align: center;
        display: block;
    }
}

@media screen and (min-width: 900px){
    #sunny, #weather-info{
        display: inline-block;
        width: 45%;
    }
    
    #weather-info{
        margin-right: 75px;
    }
    
    .sun{
        margin-left: 450px;
    }
    
    #wireframes{
        display: block;
    }

*/
body{
    font-family: 'Cabin', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center
}

.sun{
    width: 150px;
}

nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: #FFB610
}

nav ul{
    display: flex;
    padding: 0px;
    margin: 0px;
}

nav ul li, a{
    display: flex;
    width: 100%;
    margin: 5px;
}

#sunny, .weather-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main p{
    margin: 0px;
}

main ul{
    padding-left: 0px;
}

body{
    margin: 0px;
}

#wireframes{
    display: none;
}

@media screen and (min-width: 550px){
    main {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    
    .weather-info {
        flex-direction: column;
    }
}

@media screen and (min-width: 700px){
    .sun{
        width: 200px;
    }
    
    #hour-data{
        display: flex;
        justify-content: space-between;
    }
    
    #am{
        display: flex;
        flex-direction: column;
        padding-right: 25px;
    }
    
    #pm{
        display: flex;
        flex-direction: column;
        padding-left: 25px;
    }
    
    h2{
        margin-bottom: 5px;
    }
    
    h3{
        margin-bottom: 7px;
    }
}

@media screen and (min-width: 900px){
    main{
        display: flex;
    }
    
    main div{
        margin-top: 0px;
    }
    
    #hour-data{
        display: flex;
        flex-wrap: wrap;
    }
    
    #am, #pm{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    #am li, #pm li{
        display: flex;
        flex: auto;
        padding: 5px;
    }
    
    #am{
        padding-right: 0px;
        padding-left: 25px;
    }
    
    h2, h3{
        align-self: flex-start;
        margin: 0 auto;
    }
    
    #city-info{
        width: 100%;
        background-color: #FF7100;
        padding-top: 5px;
    }
    
    #sunny{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: 50%;
        background-color: #00C9C2;
    }
    
    .weather-info{
        background-color: #3A8FE1;
    }
    
    .sun{
        width: 125px;
    }
    #wireframes{
        display: block;
    }
}